/* Skeleton */
html {
    --color-black: #212121;
    --color-black-light: #2F2F2F;
    --color-yellow: #FCF1C2;

    background-color: var(--color-black-light);
}

body {
    display: flex;
    color: white;
    background-image: url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
}

#left-side {
    width: 25%;
    height: 96vh;
    padding: 2vh;
}

#right-side {
    width: 75%;
    height: auto;
    display: flex;
}

/* Left side */
header img {
    width: 40%;
}

nav {
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    width: 100%;
    list-style-type: none;
    background-color: var(--color-black-light);
    border-radius: 0.3rem;
    margin-bottom: 1vh;
    transition: 0.3s;
}

nav li a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 1vw;
    align-items: center;
}

nav li img {
    width: 2rem;
    margin-right: 1vw;
}

.badge {
    width: 30%;
    margin-bottom: 2vh;
}

/* Right side */
#right-side figure {
    padding: 0;
    margin: 0;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#right-side >*:first-child {
    margin-left: 1vw;
    padding-bottom: 10vh;
}

#right-side >*:nth-child(2) {
    padding-top: 14vh;
}

#right-side >*:nth-child(3) {
    padding-bottom: 12vh;
}

#right-side >*:nth-child(4) {
    padding-top: 8vh;
}

#right-side img {
    width: 100%;
    border: gray 1px solid;
}

figcaption {
    margin: 1vw;
    font-size: 0.9em;
    text-align: center;
}