/* Skeleton */
html {
    --color-black-light: #2F2F2F;

    background-color: var(--color-black-light);
}

body {
    display: flex;
    color: white;
    background-image: url("../images/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#left-side {
    width: 25%;
    height: 96vh;
    padding: 2vh;
}

#right-side {
    width: 75%;
    display: flex;
}

/* Left side */
header img {
    width: 40%;
}

nav {
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    width: 100%;
    list-style-type: none;
    border: 1px white solid;
    border-radius: 0.3rem;
    margin-bottom: 1vh;
    transition: 0.3s;
}

nav li a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 1vw;
    align-items: center;
}

nav li img {
    width: 2rem;
    margin-right: 1vw;
}

.badge {
    width: 30%;
    margin-bottom: 2vh;
}

/* Right side */
@keyframes slidein {
    0% {
        transform: translateY(30%);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0%);
    }
}

#right-side figure {
    /* animation-duration: 1s; */
    /* animation-name: slidein; */
    padding: 0;
    margin: 0;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#right-side >*:first-child {
    margin-left: 1vw;
}

#right-side img {
    width: 100%;
    border: gray 1px solid;
}

#right-side h2 {
    display: none;
}

@media (max-width: 1024px) {
    body {
        flex-direction: column;
    }

    #left-side {
        width: auto;
        height: auto;
    }

    #right-side {
        width: auto;
        flex-direction: column;
        padding: 2vh;
    }

    #right-side >*:first-child, #right-side >*:nth-child(2), #right-side >*:nth-child(3), #right-side >*:nth-child(4) {
        margin: 0;
        padding: 0;
        margin-bottom: 4vh;
    }

    #right-side h2 {
        display: block;
    }
}