@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/SourceSansPro-Bold.ttf);
    font-weight: bold;
}

/* Skeleton */
html {
    --color-black: #212121;
    --color-black-light: #2F2F2F;
    --color-yellow: #FCF1C2;
}

body {
    font-family: 'Source Sans Pro', cursive;
    padding: 0;
    margin: 0;
}

/* Navigation Item */
nav li:hover {
    background-color: gray;
}
