/* Skeleton */
html {
    --color-black: #212121;
    --color-black-light: #2F2F2F;
    --color-yellow: #FCF1C2;

    background-color: var(--color-black-light);
}

body {
    display: flex;
    color: white;
    background-color: var(--color-black-light);
}

.left-side {
    flex-direction: row;
    width: 25%;
    height: 96vh;
    padding: 2vh;
    background-color: var(--color-black);
}

.right-side {
    width: 75%;
    height: auto;
    background-color: var(--color-black-light);
}

/* Left side */
header img {
    width: 40%;
}

nav {
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    width: 100%;
    list-style-type: none;
    background-color: var(--color-black-light);
    border-radius: 0.3rem;
    margin-bottom: 1vh;
    transition: 0.3s;
}

nav li a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 1vw;
    align-items: center;
}

nav li img {
    width: 2rem;
    margin-right: 1vw;
}

/* Right side */