<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zen.alchan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ALchanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.reviews.ReviewsActivity" />
        <activity android:name=".ui.social.global.GlobalFeedActivity" />
        <activity android:name=".ui.common.TextEditorActivity" />
        <activity
            android:name=".ui.common.SpoilerActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="spoiler"
                    android:pathPattern=".*"
                    android:scheme="alchan" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.profile.follows.FollowsActivity" />
        <activity android:name=".ui.notification.NotificationActivity" />
        <activity android:name=".ui.profile.stats.details.StatsDetailActivity" />
        <activity android:name=".ui.profile.favorites.reorder.ReorderFavoritesActivity" />
        <activity android:name=".ui.seasonal.SeasonalActivity" />
        <activity android:name=".ui.explore.ExploreActivity" />
        <activity android:name=".ui.browse.BrowseActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="anilist.co"
                    android:pathPattern="/anime/.*"
                    android:scheme="https" />
                <data
                    android:host="anilist.co"
                    android:pathPattern="/manga/.*"
                    android:scheme="https" />
                <data
                    android:host="anilist.co"
                    android:pathPattern="/character/.*"
                    android:scheme="https" />
                <data
                    android:host="anilist.co"
                    android:pathPattern="/staff/.*"
                    android:scheme="https" />
                <data
                    android:host="anilist.co"
                    android:pathPattern="/studio/.*"
                    android:scheme="https" />
                <data
                    android:host="anilist.co"
                    android:pathPattern="/user/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.mangalist.editor.MangaListEditorActivity" />
        <activity android:name=".ui.common.customise.CustomiseListActivity" />
        <activity android:name=".ui.animelist.editor.AnimeListEditorActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login"
                    android:pathPattern=".*"
                    android:scheme="alchan" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>